{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% UIPanel ForInformation { sTitle:'MFATOTP:App:UI:Config:Title'|dict_s } %}

	{% if sMessage %}
		{% UIAlert ForSuccess { sTitle:'' } %}
			{{ sMessage }}
		{% EndUIAlert %}
	{% endif %}

	{% if sError %}
		{% UIAlert ForFailure { sTitle:'' } %}
			{{ sError }}
		{% EndUIAlert %}
	{% endif %}

	{% UIFieldSet Standard { sLegend:'MFATOTP:App:UI:Configure'|dict_s } %}

		{% UIField Small { sLabel:'MFATOTP:App:UI:ScanQRCode'|dict_s } %}
			<div>{{ sQRCodeSVG|raw }}</div>
		{% EndUIField %}

		{% UIField Small { sLabel:'MFATOTP:App:UI:EnterValues'|dict_s } %}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:App:UI:Secret'|dict_s } %}
			{{ sSecret }}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:App:UI:Issuer'|dict_s } %}
			{{ sIssuer }}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:App:UI:Label'|dict_s } %}
			{{ sLabel }}
		{% EndUIField %}

	{% EndUIFieldSet %}

	{% UIFieldSet Standard { sLegend:'MFATOTP:App:UI:CodeValidationTitle'|dict_format(sIssuer, sLabel) } %}
		{% UIForm Standard {sId:"totp_app_form"} %}
			{% UIField Small { sLabel:'MFATOTP:App:UI:CodeValidation:explain'|dict_s } %}
				<input type="text" id="totp_app_code" name="totp_app_code" value="" size="6"
				       class="ibo-input ibo-block ibo-mfa--code-input" oninput="CheckLoginAppCode();"
				       data-role="ibo-input" placeholder="{{ 'MFATOTP:App:UI:Code'|dict_s }}">
			{% EndUIField %}
		{% EndUIForm %}
	{% EndUIFieldSet %}
{% EndUIPanel %}
