{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "MFAUserSettingsConfigBase.html.twig" %}

{% set sTitle = 'MFATOTP:App:Config:Title'|dict_s %}

{% block configuration %}

	{% UIFieldSet Standard { sLegend:'MFATOTP:App:Configure'|dict_s } %}

		{% UIField Small { sLabel:'MFATOTP:App:ScanQRCode'|dict_s } %}
			<div>{{ sQRCodeSVG|raw }}</div>
		{% EndUIField %}

		{% UIField Small { sLabel:'MFATOTP:App:EnterValues'|dict_s } %}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:App:Secret'|dict_s } %}
			{{ sSecret }}
			{% set jscopy = 'WriteClipboardText("' ~ sSecret ~ '", "' ~ 'MFATOTP:App:Secret:Copy:Done'|dict_s ~ '");' %}
			{% UIButton IconAction { sIconClasses:'fas fa-clone copypaste', sTooltipText:'MFATOTP:App:Secret:Copy'|dict_s, OnClickJsCode:jscopy } %}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:Issuer'|dict_s } %}
			{{ sIssuer }}
		{% EndUIField %}
		{% UIField Small { sLabel:'MFATOTP:App:Label'|dict_s } %}
			{{ sLabel }}
		{% EndUIField %}

	{% EndUIFieldSet %}

{% endblock %}

{% block validation %}
	{% UIFieldSet Standard { sLegend:'MFATOTP:App:CodeValidation:Title'|dict_format(sIssuer, sLabel) } %}
		{% UIForm Standard {sId:"totp_form"} %}
			{% UIField Small { sLabel:'MFATOTP:App:CodeValidation:explain'|dict_s } %}
				<input type="hidden" name="transaction_id" value="{{ sTransactionId }}">
				<input type="text" id="totp_code" name="totp_code" value="" size="6"
				       class="ibo-input ibo-block ibo-mfa--code-input" oninput="CheckLoginCode();"
				       data-role="ibo-input" placeholder="{{ 'MFATOTP:EnterCode'|dict_s }}">
			{% EndUIField %}
		{% EndUIForm %}
	{% EndUIFieldSet %}

{% endblock %}