{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'MFATOTP:App:Config:Title'|dict_s }}</h3>
		</div>
		<div class="panel-body">
			<div class="form_alerts">
				{% if aData.sMessage is defined %}
					<div class="alert alert-success" role="alert">{{ aData.sMessage }}</div>
				{% endif %}
				{% if aData.sError is defined %}
					<div class="alert alert-error alert-danger" role="alert">{{ aData.sError }}</div>
				{% endif %}
			</div>

			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:Issuer'|dict_s }}</label>
			</div>
			<div class="form_field_control"><div class="form-control-static">{{ aData.sIssuer }}</div></div>

			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:App:Label'|dict_s }}</label>
			</div>
			<div class="form_field_control"><div class="form-control-static">{{ aData.sLabel }}</div></div>


			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:App:ScanQRCode'|dict_s }}</label>
			</div>
			<div class="form_field_control"><div class="form-control-static">{{ aData.sQRCodeSVG|raw }}</div></div>

			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:App:Secret'|dict_s }}</label>
			</div>
			<div class="form_field_control"><div class="form-control-static">{{ aData.sSecret }}</div></div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'MFATOTP:App:CodeValidation:Title'|dict_format(aData.sIssuer, aData.sLabel) }}</h3>
		</div>
		<div class="panel-body">
			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:App:CodeValidation:explain'|dict_s }}</label>
			</div>
			{% set sFormId = "form_mfa_configure" ~ aData.sAction ~ "_" ~ aData.sClass %}
			<form id="{{ sFormId }}" class="" style="display:inline-block;" method="POST">
				<input type="hidden" name="action" value="configure">
				<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
				<input type="hidden" name="class" value="{{ aData.sClass }}">
				<input type="text" id="totp_code" name="totp_code" class="form-control" value="" size="6"
				       oninput="CheckLoginCode(); return false;" placeholder="{{ 'MFATOTP:EnterCode'|dict_s }}">
			</form>
		</div>
	</div>
</div>

