{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="col-sm-6">
	<div class="panel panel-default">
		{% set sEmail = aData.oMFAUserSettings.Get("email") %}
		{% if sEmail %}
			{% set sEmailSettingsTitle = 'MFATOTP:Mail:Settings:Step1:ChangeEmailOptional'|dict_s %}
			{% set sEmailSettingsAction = 'MFATOTP:Mail:ChangeEmail:Button'|dict_s %}
		{% else %}
			{% set sEmailSettingsTitle = 'MFATOTP:Mail:Settings:Step1:SetEmail'|dict_s %}
			{% set sEmailSettingsAction = 'MFATOTP:Mail:SetEmail:Button'|dict_s %}
		{% endif %}
		<div class="panel-heading">
			<h3 class="panel-title">{{ sEmailSettingsTitle }}</h3>
		</div>
		<div class="panel-body">
			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:Mail:Settings:email:label'|dict_s }}</label>
			</div>

			<div class="help-block">
				{{ 'MFATOTP:Mail:Settings:email:label+'|dict_s }}
			</div>

			<div class="form-group form_group_small">
				<form id="form_mfa_configure_change_mail_settings" class="" style="display:inline-block;" method="POST">
					<input type="hidden" name="action" value="configure">
					<input type="hidden" name="operation" value="save_email">
					<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
					<input type="hidden" name="class" value="{{ aData.sClass }}">
					<div class="form_field_control">
						<input type="text" id="email_attribute" name="email_attribute" value="{{ sEmail }}"
						       class="form-control">
					</div>
					<div class="form_field_label">&nbsp;</div>
					<div class="form_field_control">
						<div class="form_btn_regular">
							<input class="btn btn-primary form_btn_submit" type="submit"
							       value="{{ sEmailSettingsAction }}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'MFATOTP:Mail:Validation'|dict_s }}</h3>
		</div>
		<div class="panel-body">
			<div class="form_field_label">
				<label class="control-label">{{ 'MFA:MFAUserSettingsTOTPMail:Description'|dict_s }}</label>
			</div>
			<div class="form-group form_group_small">
				<form id="form_mfa_configure_resend_email" class="" style="display:inline-block;" method="POST">
					<input type="hidden" name="action" value="configure">
					<input type="hidden" name="operation" value="resend_email">
					<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
					<input type="hidden" name="class" value="{{ aData.sClass }}">
					<div class="form_btn_regular">
						<input class="btn btn-primary form_btn_submit" type="submit"
						       value="{{ 'MFATOTP:Mail:ResendEmail:Button'|dict_s }}" data-tooltip-content="{{ 'MFATOTP:Mail:ResendEmail:Button+'|dict_s }}">
					</div>
				</form>
			</div>

			<div class="form_field_label">
				<label class="control-label">{{ 'MFATOTP:Mail:CodeValidation:explain'|dict_s }}</label>
			</div>
			{% set sFormId = "form_mfa_configure" ~ aData.sAction ~ "_" ~ aData.sClass %}
			<form id="{{ sFormId }}" class="" style="display:inline-block;" method="POST">
				<input type="hidden" name="action" value="configure">
				<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
				<input type="hidden" name="class" value="{{ aData.sClass }}">
				<input type="text" id="totp_code" name="totp_code" class="form-control" value="" size="6"
				       oninput="CheckLoginCode(); return false;" placeholder="{{ 'MFATOTP:EnterCode'|dict_s }}">
			</form>
		</div>
	</div>
</div>
