{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}


<div class="ibo-mfa--qr-code">{{ aData.sQRCodeSVG|raw }}</div>
<div class="ibo-mfa-login-text">
	<p>{{ 'MFATOTP:App:UI:Secret'|dict_s }} {{ aData.sSecret }}</p>
	<p>{{ 'MFATOTP:App:UI:Issuer'|dict_s }} {{ aData.sIssuer }}</p>
	<p>{{ 'MFATOTP:App:UI:Label'|dict_s }} {{ aData.sLabel }}</p>
	<p>&nbsp;</p>
	<p>{{ 'MFATOTP:App:UI:CodeValidationTitle'|dict_format(aData.sIssuer, aData.sLabel)|raw }}</p>
</div>
<form id="totp_form" method="post">
	<div>
		<input type="text" id="totp_code" name="totp_code" value="" size="6"
		       class="ibo-input ibo-input ibo-block ibo-mfa--code-input" oninput="CheckLoginCode();"
		       data-role="ibo-input" placeholder="{{ 'MFATOTP:App:UI:EnterCode'|dict_s }}">
	</div>
</form>