{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}


<div class="ibo-mfa-login-text">
	<p>&nbsp</p>
	<p>{{ 'MFATOTP:Mail:CodeValidation:Title'|dict_format(aData.sLabel) }}</p>
	<p>&nbsp</p>
</div>
<form id="totp_form" method="post">
	<div>
        {% for sKey, sVal in aData.aPostedParams %}
            <input type="hidden" value="{{ sVal }}" name="{{ sKey }}">
        {% endfor %}
		<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
		<input type="text" id="totp_code" name="totp_code" value="" size="6"
		       class="ibo-input ibo-block ibo-mfa--code-input" oninput="CheckLoginCode();"
		       data-role="ibo-input" placeholder="{{ 'MFATOTP:EnterCode'|dict_s }}">
	</div>
	<div>
		<p>&nbsp</p>
		<a onclick="ResendMail();">{{ 'MFATOTP:Mail:ResendEmail:Link'|dict_s }}</a>
	</div>
</form>
