{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}


<div class="ibo-mfa--qr-code">{{ aData.sQRCodeSVG|raw }}</div>
<div class="ibo-mfa-login-text">
	<div class="ibo-mfa-login-totp-switch-to-data">
		<p>
			{{ 'MFATOTP:App:Config:CannotScan'|dict_s }}
			<a class="ibo-mfa-login-totp-switch-action">{{ 'MFATOTP:App:Config:SwitchToData'|dict_s }}</a>
		</p>
	</div>
	<div class="ibo-mfa-login-totp-alt">
		<p>{{ 'MFATOTP:App:Secret'|dict_s }} {{ aData.sSecret }}</p>
		<p>{{ 'MFATOTP:Issuer'|dict_s }} {{ aData.sIssuer }}</p>
		<p>{{ 'MFATOTP:App:Label'|dict_s }} {{ aData.sLabel }}</p>
	</div>
	<p>&nbsp;</p>
	<p>{{ 'MFATOTP:App:CodeValidation:Title'|dict_format(aData.sIssuer, aData.sLabel)|raw }}</p>
</div>
<form id="totp_form" method="post">
	<div>
        {% for sKey, sVal in aData.aPostedParams %}
            <input type="hidden" value="{{ sVal }}" name="{{ sKey }}">
        {% endfor %}
		<input type="hidden" name="transaction_id" value="{{ aData.sTransactionId }}">
		<input type="text" id="totp_code" name="totp_code" value="" size="6"
		       class="ibo-input ibo-input ibo-block ibo-mfa--code-input" oninput="CheckLoginCode();"
		       data-role="ibo-input" placeholder="{{ 'MFATOTP:EnterCode'|dict_s }}">
	</div>
</form>